<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title>TrackIt</title>

<link rel="stylesheet" href="/css/style.css">

<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css"
/>

<link
href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
rel="stylesheet"
/>

</head>

<body>

<div id="map"></div>

<div class="dashboard">

    <div class="logo">🚀 TrackIt</div>

    <div class="status">
        <div class="pulse"></div>
        Live Tracking Active
    </div>

    <div class="card">
        <span>ONLINE USERS</span>
        <h3 id="users">0</h3>
    </div>

    <div class="card">
        <span>LATITUDE</span>
        <h3 id="lat">--</h3>
    </div>

    <div class="card">
        <span>LONGITUDE</span>
        <h3 id="lng">--</h3>
    </div>

    <div class="card">
        <span>DISTANCE FROM HOME</span>
        <h3 id="distance">--</h3>
    </div>

</div>

<button class="home-btn" id="toggleBtn" onclick="toggleView()">
🏠 Home
</button>

<div class="zoom-controls">
    <button onclick="map.zoomIn()">+</button>
    <button onclick="map.zoomOut()">−</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>

</body>
</html>